/*navbar*/
.ui.menu {
   background:#1972bf;
   color:white;
}
.navbar a,.navbar .text,.navbar i {
  color:white;
}
.menu.transition.visible a, .menu.transition.visible .text{
  background:white;
  color:black;
}
/* bar chart*/
.bar-chart rect {
  fill:#9dbfea;
  stroke:#7b99bf;
}
.bar-chart  .domain{
  display:none;
}
.bar-chart h5, .pie-chart h5 {
  background:#c7c5c5;
/*background:linear-gradient(to right, grey, white);*/
margin-top:0;
padding:10px;
}

.bar-chart .bar{
  background-color:#c7c5c5;
}
.bar-chart svg {
  width:100%;
  height:100%;
}
.ui.segment{
  height:100%;
}
/* Approvals table*/
.approvals , .approvals table,.reports, .reports table,.Modal table {
  width:100%;
}
table {
  border-collapse:collapse;
}
td {

  border: 1px solid grey;
  text-align:left;
  color:#1e96bb;
  padding:0.5em;

}
.approvals th,.reports th,.contracts th, .Modal th {

  border: 1px solid grey;
  font-weight:bold;
  background-color:white;
  padding:0.5em;

}
.approvals tr:nth-child(odd) ,.reports tr:nth-child(odd),.contracts tr:nth-child(odd), .Modal tr:nth-child(odd){
  background-color: #f2f2f2;
}

.approvals h5 , .reports h5{
  width:100%;
  background: #c7c5c5;
  /*background:linear-gradient(to right, grey, white);*/
  padding:10px;
  box-sizing:border-box;
}
.approvals ul, .approvals li ,.reports ul, .reports li,.Modal ul, .Modal li{
  display:inline;
  padding-left:0;
}
.approvals li button, .reports li button, .Modal li button {
  background-color:white;
  padding:0.5em;

  border:1px solid #c7c5c5;

}
.approvals  button, .reports  button{

  background-color:#E38627;
  margin-right:2vw;
  color:white;
  padding:0.5em;
  border:none;
  border-radius: 3px;
}
.clearfix {
  margin-top:0.5em;
}
.clearfix button {
  color:#1e96bb;
  margin:0;
  padding:0.5em;
}
.closeButton{
  float:right;
  display:block;
}
/* Modal Portal*/
.Modal {
  position: absolute;
    top: 20vh;
    left: 10vw;
    right: 10vw;
    bottom: 20vh;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.Overlay{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
background-color: rgba(0,0,0,0.4);
}
.ReactModalPortal {
  top:16vh;
}

/*Login page */
#loginForm {
  width:100%;
}
.footer,.footer table {
    width:100%;
    color:white;
    background-color:black;
    bottom:0;
    position:fixed;
}
.footer table td {
  border:none;
  text-align:center;
  color:white;
}
